body { 
    margin:0;
    padding:0;
    width: 100%;
}

.image {
  max-height: 35px;
}

.imgStyle {
  border: 4px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

html {
  font-size: 1rem;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

nav.nav-extended .nav-wrapper {
  min-height: 56px;
  height: auto;
}


.right {
  float: right;
  margin-left: 15px;
}

.text {
  position: absolute;
  color: black;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}


.parallax-container {

  position: relative;
  overflow: hidden;
  height: 300px;
}

.titlePage {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


.parallax-container .parallax {
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  opacity: 0.5;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

img {
  align-self: center;

}
